* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    .main_head {


        .main_head-image {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            position: absolute;
            filter: blur(5px);
        }

        .main_head-overlay {
            height: 100vh;
            width: 100vw;
            position: absolute;
            z-index: 1;
            background-color: #444;
            opacity: .1;
         }
    
    }
    
}